@font-face {
    src: url('../src/assets/font/Poppins-Regular.ttf')  format('truetype');
    src: url('../src/assets/font/Poppins-ExtraBold.ttf') format('truetype');
    src: url('../src/assets/font/Poppins-Bold.ttf') format('truetype');
    src: url('../src/assets/font/Poppins-Black.ttf') format('truetype');
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
}